<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>admin.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addcategory</servlet-name>
        <servlet-class>admin.Addcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscategory</servlet-name>
        <servlet-class>admin.Inscategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listcategories</servlet-name>
        <servlet-class>admin.Listcategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delcategory</servlet-name>
        <servlet-class>admin.Delcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editcategory</servlet-name>
        <servlet-class>admin.Editcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatecat</servlet-name>
        <servlet-class>admin.Updatecat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>Frontend.Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addproduct</servlet-name>
        <servlet-class>admin.Addproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insproduct</servlet-name>
        <servlet-class>admin.Insproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listproducts</servlet-name>
        <servlet-class>admin.Listproducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delproduct</servlet-name>
        <servlet-class>admin.Delproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>Frontend.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Regcustomer</servlet-name>
        <servlet-class>Frontend.Regcustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categoryapi</servlet-name>
        <servlet-class>admin.Categoryapi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminlogin</servlet-name>
        <servlet-class>admin.Adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>admin.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Frontend.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clogout</servlet-name>
        <servlet-class>Frontend.Clogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addcart</servlet-name>
        <servlet-class>Frontend.Addcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listcart</servlet-name>
        <servlet-class>Frontend.Listcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insorder</servlet-name>
        <servlet-class>Frontend.Insorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listorder</servlet-name>
        <servlet-class>admin.Listorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orderhistory</servlet-name>
        <servlet-class>Frontend.Orderhistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgotpassword</servlet-name>
        <servlet-class>Frontend.Forgotpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resetpassword</servlet-name>
        <servlet-class>Frontend.Resetpassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addcategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscategory</servlet-name>
        <url-pattern>/inscategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listcategories</servlet-name>
        <url-pattern>/listcategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delcategory</servlet-name>
        <url-pattern>/delcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editcategory</servlet-name>
        <url-pattern>/editcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatecat</servlet-name>
        <url-pattern>/updatecat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addproduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insproduct</servlet-name>
        <url-pattern>/insproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listproducts</servlet-name>
        <url-pattern>/listproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delproduct</servlet-name>
        <url-pattern>/delproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Regcustomer</servlet-name>
        <url-pattern>/regcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categoryapi</servlet-name>
        <url-pattern>/categoryapi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clogout</servlet-name>
        <url-pattern>/clogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addcart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listcart</servlet-name>
        <url-pattern>/listcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insorder</servlet-name>
        <url-pattern>/insorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listorder</servlet-name>
        <url-pattern>/listorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orderhistory</servlet-name>
        <url-pattern>/orderhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resetpassword</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
